$backgroundColor: #f5f2f8;
$activeBackgroundColor: #8b48cf;

.pagination {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.pagination__item {
	display: flex;
	margin-right: 13px;

	&:last-child() {
		margin-right: 0;
	}

	&--active .pagination__button {
		background-color: $activeBackgroundColor;
	}
}

.pagination__button {
	width: 63px;
	height: 3px;
	padding: 0;
	background-color: $backgroundColor;
	border: none;
	border-radius: 50px;
	cursor: pointer;
}