.products {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 498px;
	margin-bottom: 130px;
	overflow: hidden;
}

.products__title {
	margin: 0;
	margin-bottom: 15px;
	font-weight: 700;
	font-size: 20px;
	line-height: 22px;
	color: #120044;
}

.products__list {
	width: 81.5%;
	margin: 0;
	padding: 0;
	display: flex;
	column-gap: 20px;
	list-style-type: none;
	overflow: hidden;
	scroll-behavior: smooth;
}

.products__slider-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	&--prev {
		left: 0;
	}

	&--next {
		right: 0;
		transform: translateY(-50%) rotate(180deg);
	}
}