.promo {
	display: none;
	height: 304px;

	&--active {
		display: block;
	}

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 522px;
		height: 100%;
		background-image: url("/banner/mask-1.png");
		background-repeat: no-repeat;
		z-index: 1;
		content: "";
	}

  &--single {
    height: 255px;
    &::before {
			width: 708px;
      background-image: url("/banner/mask-2.png");
    }
  }
}

.promo__content-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	width: 44%;
	height: 100%;
	padding: 0 100px;
}

.promo__title {
	margin: 0;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 30px;
	line-height: 150%;
	color: #ffffff;
}

.promo__link {
	display: flex;
	padding: 11px 25px 9px 25px;
	font-weight: 700;
	font-size: 12px;
	line-height: 13px;
	text-decoration: none;
	color: #8b48cf;
	background-color: #ffffff;
	border-radius: 3px;
}

.promo__image {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -2;
}
