.promotions {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 120px;
}

.promotions__list {
	width: 100%;
	margin-bottom: 29px;
}

.promotions__slider-button {
	position: absolute;
	top: 40%;

	&--prev {
		left: -23px;
	}

	&--next {
		right: -23px;
		transform: rotate(180deg);
	}
}
