.some-goods {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 193px;
}

.some-goods__title {
    margin: 0;
    margin-bottom: 40px ;
    font-weight: 600;
    font-size: 40px;
    line-height: 54px;
    color: #373737
}

.some-goods__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.some-goods__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 391px;
    margin-right: 60px;

    &:last-child {
        margin-right: 0;
    }

    &:hover .some-goods__button {
        display: block;
    }
}

.some-goods__subtitle {
    margin: 0;
    margin-bottom: 11px;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.some-goods__image {
    display: block;
    margin-bottom: 11px;
    order: -1;
}

.some-goods__price {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 27px;
    color: #c4c4c4;
}

.some-goods__button {
    display: none;
    padding: 15px 50px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #373737;
    border: none;
    cursor: pointer;
}

.some-goods__slider-button {
    position: absolute;
    top: 40%;
    padding: 0;
    width: 14px;
    height: 23px;
    background-color: transparent;
    background-image: url('../../../public/images/slider-arrow.png');
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;

    &--prev {
        left: 0;
    }
    &--next {
        right: 0;
        transform: rotate(180deg);
    }
}

.some-goods__link {
    padding: 23px 52px 21px 52px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.12em;
    text-decoration: none;
    color: #373737;
    background-color: transparent;
    border: 1px solid #373737;
}