$firstGradientColor: #f5f2f8;
$secondGradientColor: #ffffff;
$textColor: #120044;
$toggleButtonColor: #8b48cf;


.header {
  margin-bottom: 40px;
  background: linear-gradient($firstGradientColor 55%, $secondGradientColor 55%);
}

.header__site-inner {
  display: flex;
  align-items: center;
  padding: 17px 21px 17px 18px;
}

.header__logo {
  margin-right: 30px;
}

.header__header-contacts {
  margin: 0;
  padding: 0;
}

.header-contacts {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.header-contacts__item {
  margin-right: 20px;
}

.header-contacts__address {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 13px;
  color: $textColor;
}

.header-contacts__schedule {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 13px;
  color: $textColor;
}

.header-contacts__link {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 13px;
  color: $textColor;
  text-decoration: none;
}

.header-contacts__icon {
  display: block;
  margin-right: 10px;
}

.header__user-menu {
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.user-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 22%;
}

.user-menu__link {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 13px;
  color: $textColor;
  text-decoration: none;
}

.user-menu__icon {
  display: block;
  margin-right: 10px;
}

.user-menu__count {
  position: absolute;
  left: 10px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13px;
  height: 13px;
  font-weight: 700;
  font-size: 9px;
  line-height: 10px;
  color: #ffffff;
  border-radius: 50%;
  background-color: $textColor;
}

.user-menu__price-wrapper {
  display: flex;
  flex-direction: column;
}

.user-menu__sum {
  font-weight: 400;
  margin-bottom: 4px;
}

.header__nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav__dropdown {
  position: relative;
  margin-right: 28px;
}

.header-nav__product-menu {
  margin: 0;
  padding: 0;
}

.product-menu {
  position: absolute;
  top: 76px;
  left: 0;
  padding: 10px 15px 0 15px;
  flex-direction: column;
  list-style-type: none;
  background-color: #ffffff;
}

.product-menu__item {
  margin-bottom: 15px;
}

.product-menu__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: $textColor;
  text-decoration: none;
}

.product-menu__button {
  position: relative;
  padding: 11px 15px 12px 40px;
  font-family: "Comfortaa", "Arial", "Helvetica", "sans-serif";
  font-weight: 700;
  font-size: 12px;
  line-height: 13px;
  color: #ffffff;
  background-color: $toggleButtonColor;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.header-nav__dropdown {
  &--closed .product-menu__button {
    &::after {
      position: absolute;
      top: 12px;
      left: 15px;
      width: 15px;
      height: 1px;
      background-color: #ffffff;
      box-shadow: 0 5px 0 0 #ffffff, 0 10px 0 0 #ffffff;
      content: "";
    }
  }

  &--closed .product-menu {
    display: none;
  }

  &--opened .product-menu__button {
    &::after, &::before {
      position: absolute;
      top: 17px;
      left: 15px;
      width: 15px;
      height: 1px;
      background-color: #ffffff;
      content: "";
    }
    
    &::after {
      transform: rotate(45deg);
    }
    
    &::before {
      transform: rotate(-45deg);
    }
  }

  &--opened .product-menu {
    display: flex;
  }
}

.header-nav__nav-menu {
  margin: 0;
  padding: 0;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-menu__item {
  margin-right: 15px;
}

.nav-menu__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: $textColor;

  &--active {
    color: $toggleButtonColor;
  }
}

.form-search__field {
  padding: 9px 0 9px 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  color: $toggleButtonColor;
  border: 1px solid #f1eef9;
  border-radius: 3px 0 0 3px;

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: $toggleButtonColor;
  }
}

.form-search__button {
  padding: 10px 18px;
  font-family: "Comfortaa", "Arial", "Helvetica", "sans-serif";
  font-weight: 700;
  font-size: 12px;
  line-height: 13px;
  color: #ffffff;
  background-color: $toggleButtonColor;
  border: none;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}
