$firstGradientColor: #f5f2f8;
$secondGradientColor: #ffffff;

.header {
  margin-bottom: 40px;
  background: linear-gradient($firstGradientColor 55%, $secondGradientColor 55%);
}

.header__site-inner {
  display: flex;
  align-items: center;
  padding: 17px 21px 17px 18px;
}

.header__logo {
  margin-right: 30px;
}

.header__header-contacts {
  margin: 0;
  padding: 0;
}

.header__user-menu {
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.header__nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav__dropdown {
  position: relative;
  margin-right: 28px;
}

.header-nav__nav-menu {
  margin: 0;
  padding: 0;
}
